body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  margin-right: 2rem;
  color: #f8f0de;
  font-family: "Orbitron", sans-serif;
  font-size: 1.6em;
  justify-content: flex-end;
  letter-spacing: 3px;
  font-weight: 900;
}

.intro h4 {
  font-family: "Orbitron", sans-serif;
  font-size: 6em;
  font-weight: 900;
   margin: 0px;
}

.intro {
  color: #f8f0de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  margin-top: 20rem;
}



.intro-message {
  font-size: 2rem;
  margin: 0px 0px 20px 0px;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;


}