body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  margin-right: 2rem;
  color: #f8f0de;
  font-family: "Orbitron", sans-serif;
  font-size: 1.6em;
  justify-content: flex-end;
  letter-spacing: 3px;
  font-weight: 900;
}

.intro h4 {
  font-family: "Orbitron", sans-serif;
  color: #f8f0de;
  font-size: 5em;
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}
